:root{
	--main-font: sans-serif;
	--secondary-font: Times;
	--font-size: 16px;
	--main-color: #000;
	--second-color: #757575;
}

html{
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

#header {  
	background: url(gimnasio.jpg) no-repeat center;
	background-size: cover;
	background-color: var(--main-color);
	padding: 100px 20px;
	position: sticky;
	font-family: "Courier New";
	font-size: bold;
}

#header h1{
	font-size: 50px;
	text-align: center;
	color: #DBDBDB;
	margin: 100px 1000px 0 0;
}

body{
	margin: 0;
	overflow-x: hidden;
	font-family: var(--secondary-font);
	background: url(fondo.jpg);
	background-size: cover;
}

#lista ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	overflow: hidden;
	
}

#lista{
	background-color: #000000;
}

#lista li{
	float: left;
	font-size: 20px;
	padding: 10px 20px;
}

#lista ul a {
  text-decoration: none;
  color: #FFFFFF;
  transition: background-color .5s;
}

#lista ul a:hover {
  color: #969696;
}

.bienvenidos{
	margin: 10px 100px;
	width: 40%;
	float: left;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

#content img{
	width: 40%;
	height: 40%;
	float: left;
	border-style: solid;
	border-width: 5px;
	margin: 10px;
	background: no-repeat center;
	border-radius: 20px 20px 500px 20px
}

#content p {
	margin: 0 20px 20px 100px;
	float: left;
	width: 40%;
	font-size: 25px;
	font-family: 'Helvetica Neue', cursive;
}

#instalaciones1{
	font-size: 30px;
	margin-left: 1rem;
	border: 5px solid #000;
	border-radius: 10px;
	margin: 10px;
	margin-right: 400px;
	padding: 10px;
	font-family: "Courier";
	font-weight: bold;
}

.slider {
	position: relative;
	width: 45%;
	margin: 1rem auto;
	text-align: center; 
}

.slider-slides{
	position: relative;
	height: 805px;
}

.slider-slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide.active{
	opacity: 1;
	visibility: visible;
}

.slider-slide img{
	height: inherit;
	width: inherit;
	object-fit: cover;
	border-radius: 100px;
	border: solid 5px #000;
}

.slider-btns{
	position: absolute; 
	width: 100%;
	top: calc(50% - 1rem);
	display: flex;
	justify-content: space-between;
	font-size: 4rem;
	font-weight: bold;
}

.slider-btns .prev{
	margin-left: 25px;
	margin-right: 50px;
	color: #FF0000;
	transition: all 0.3s ease;
	text-decoration: none;
}

.slider-btns .next{
	margin-right: 25px;
	margin-left: 50px;
	color: #FF0000;
	transition: all 0.3s ease;
	text-decoration: none;
}


.slider-btns :hover{
	color: #FFFFFF;
}

.galeria{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 26.5%;
	grid-gap: 10px;
	overflow: hidden;
	float: left;
	margin-left: 7px;
}

.galeria img{
	width: 100%;
	height: 396px;
	border-radius: 100px;
	border: solid 5px #000;
}

.galeria2{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 26.5%;
	grid-gap: 10px;
	overflow: hidden;
	float: right;
	margin-right: 7px;
}

.galeria2 img{
	width: 100%;
	height: 395px;
	border-radius: 100px;
	border: solid 5px #000;
}

.contact-form{
	--form-ok-color: #4caf50;
	--form-error-color: #f44336;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.bigicon {
    font-size: 35px;
    color: #000;
	margin-left: 5px;
	margin: 10px;
	float: left;
}

.contact-form>*{
	padding: 0.5rem;
	margin: 1rem auto;
	display: block;
	width: 100%;
	border-radius: 1rem;
}

.contact-form textarea{
	resize: none;
}

.contact-form legend,
.contact-form-response{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.contact-form input,
.contact-form textarea{
	font-size: 1rem;
	font-family: sans-serif;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact-form input:hover,
.contact-form textarea:hover{
	border-color: #000;
	box-shadow: 10px 10px #000 ;
}

.contact-form input[type="submit"]{
	width: 50%;
	font-weight: bold;
	background-color: #000;
	color: #FFF;
	cursor: pointer;
	transition: none;
	box-shadow: none;
	transition: all 0.5s ease;
}

.contact-form input[type="submit"]:hover{
	background-color: #555555;
}

.contact-form [required]:valid{
	border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid{
	border: thin solid var(--form-error-color);
}

.contact-form-error{
	margin-top: -1rem;
	font-size: 20px;
	background-color: var(--form-error-color);
	color: #000;
	transition: all 800ms ease;
	text-align: center;
}

.contact-form-loader{
	text-align: center;
}

.none{
	display: none;
}

.contact-form-error.is-active{
	display: block;
	animation: show-message 1s 1 normal 0s ease-out both;
}


@keyframes show-message {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}

.motivacion{
	size: 1rem;
	float: right;
	margin-top: 21rem;
	margin-right: 1rem;
	width: 10rem;
	border-radius: 2rem;
}

div.horarios1, div.horarios2, div.horarios3, div.horarios4{
	margin: 40px 60px 60px 32rem;
	box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 800px;
}

div.horarios1 img, div.horarios2 img, div.horarios3 img, div.horarios4 img{
	width: 800px;
	height: auto;
}

div.horarios1:hover{
	border: 6px solid #FFB132;
	transform: rotate(-3deg);
}

div.horarios2:hover{
	border: 6px solid #08BF50;
	transform: rotate(-3deg);
}

div.horarios3:hover{
	border: 6px solid lightcoral;
	transform: rotate(-3deg);
}

div.horarios4:hover{
	border: 6px solid #B108BF;
	transform: rotate(-3deg);
}

div.pie{
	text-align: center;
	text-shadow: 10px 5px 10px #000;
	padding: 10px;
	font-size: 30px;
	color: #FFF;
}